.filter {
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
	font-family: "Helvetica";
	font-size: 14px;

	.label {
		color: white;
	}

	.input-container {
		display: inline-block;
		position: relative;
		border-bottom: 1px solid #fff;

		input {
			width: calc(100% - 20px);
			box-sizing: border-box;
			font-size: 14px;
			color: #fff;
			border: 0;
			background-color: transparent;

			&::placeholder {
				color: #eee;
				font-style: italic;
				font-weight: 100;
			}

			&:focus {
				outline: 0;
			}
		}

		.clear {
			position: absolute;
			right: 5px;
			cursor: pointer;
		}
	}

	ul {
		position: absolute;
		// right: 0;
		margin-top: 5px;
		padding: 0;
		list-style-type: none;
		min-width: 150px;
		max-height: 200px;
		overflow-y: auto;
		z-index: 100;
		background-color: #1c3242;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

		li {
			padding: 5px 10px;
			color: white;

			&:hover {
				background-color: #495b68;
			}

			&.excluded {
				color: #888;
				font-style: italic;
			}
		}
	}

	.hidden {
		display: none;
	}
}
