.slider-container {
	// position: absolute;
	// bottom: 5px;
	width: calc(100% - 20px);
	padding: 0 10px;

	#slider-range {
		height: 5px;

		.ui-slider-handle {
			top: -4px;
			width: 10px;
			height: 10px;
			border-radius: 5px;
			outline: none;
		}
	}

	.slider-axis {
		position: relative;
		height: 20px;

		.slider-axis-value {
			color: white;
		}

		.last-value {
			position: absolute;
			right: 0;
		}
	}
}
