.App {
	.section {
		margin-top: 20px;

		.date-slider {
			width: calc(100% - 370px);
			display: inline-block;
			vertical-align: top;
		}

		.filters {
			width: 200px;
			display: inline-block;
			vertical-align: top;
		}
	}
}
