.App {
	.section {
		margin-top: 20px;

		.date-slider {
			position: relative;
			width: calc(100% - 370px);
			display: inline-block;
			vertical-align: top;
		}

		.filters {
			width: 200px;
			display: inline-block;
			vertical-align: top;
		}
	}

	.about {
		margin: 0 auto;
		color: white;
		padding: 48px 18px;
		line-height: 28px;

		.title {
			font-weight: bold;
		}

		a {
			color: #46b5c1;
		}
	}

	@media (min-width: 640px) {
		.about {
			width: 580px;
		}
	}

	@media (min-width: 768px) {
		.about {
			width: 700px;
		}
	}

	@media (min-width: 1280px) {
		.about {
			width: 1000px;
		}
	}
}
